<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>A webshop</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <nav>
        <h1><a href="/">A webshop</a></h1>
        <h2>Consisting of micro frontends</h2>
        <span id="cartSlot"><fragment slot="content" src="http://cart.us-east-1.elasticbeanstalk.com/ui/widget" fallback-src="https://s3.amazonaws.com/microfrontends/fallback.html"></fragment></span>
    </nav>

    <slot name="main"></slot>
    <footer>
        <p>Let's skip the useless footer information</p>
    </footer>
</body>
</html>
