<main slot="main">
  <p id="mission">It's as simple as that</p>
  <div class="frontpageElement">
      <h2>Wait, what is this?</h2>
      <p>"The idea behind Micro Frontends is to think about a website or web app as a composition of features which are owned by independent teams. Each team has a distinct area of business or mission it cares about and specialises in. A team is cross functional and develops its features end-to-end, from database to user interface." (<a href="https://micro-frontends.org/">https://micro-frontends.org/</a>)</p>
      <p>This basic webshop is an attempt to use Micro Frontends as described by <a href="https://micro-frontends.org/">https://micro-frontends.org/</a>. The cart, the product highlights and the user service each are independently developed and deployed Micro Frontends, composed together by Tailor.js during run- not compiletime.</p>
      <p>Give the following stand-alone applications a try: <a href="http://cart.us-east-1.elasticbeanstalk.com/ui/widget" target="_blank">Cart (Widget)</a>, <a href="http://user-mf.us-east-1.elasticbeanstalk.com/ui/login" target="_blank">Login</a>.</p>
      <p><a href="blog.senacor.com/microfrontends/" target="_blank">Have a look at my entry at Senacor's blog for a how to and deeper thoughts.</a></p>
    </div>
  <span class="frontpageElement"><fragment slot="content" src="http://laskdfj.art:8070/" fallback-src="https://s3.amazonaws.com/microfrontends/fallback.html"></fragment></span>
</main>
